<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Perfil</title>
</head>
<body>
    <%- include('../partials/layout') %>
    <% if (profile) { %>
        <div class="container-profile">
            <h1>DATOS DEL USUARIO</h1>
            <div>
                <img src=<%= profile.image %>  class="img-profile" alt="foto perfil del usuario">
            </div>
            <div>
                <h2>Nombre: <%=profile.first_name%> </h2>
                <h3>apellido: <%=profile.last_name%> </h3>
                <p>Correo: <%=profile.email%> </p>
                <p>orden de carrito: <%=profile.cart_ID%> </p>
            </div>
        </div>
    <% }%>

    <% if (!profile) { %>
        <div style="text-align: center;padding-top: 20px;color: #ff0000;">
            <h2>Debes iniciar session o registrarte para ver tu perfil</h2>

        </div>
    <% }%>

</body>
</html>